#name{
    position: absolute;
    z-index: 999;
    bottom:70%;
    left: 33%;
    width: 600px;
    height: 200px;
    border-top: 10px solid white;
    border-bottom: 10px solid white;
}

#name p{
    position: absolute;
    font-size: 100px;
    font-family: "Lobster";
    color: white; 
    padding-left:15%;
}

#nav{
    position:absolute;
    bottom:60%;
    width:100%;
    height: 60px;
    max-width: 1500px;
    left:23%;
}

#nav ul{
    list-style-type: none;
    margin:0;
    padding:0;
}

#nav li{
    font-size: 30px;
    font-family:'Raleway';
    display:inline;
    padding-left: 50px;
    padding-right:50px;
    border: 2px solid white;
}

#nav li:hover{
    background-color: #CEEDDA;
}

#nav a{
    color:white;  
    text-decoration: none;
}

#picture img {
    background-color: #61B575;
    width:100%;
    height: 100%;
}

.fotorama{
    position: absolute;
    top:40%;
    left: 17%;
}
.fotorama img{
    border:5px solid white;
}

/** experience page **/
#resume{
    background-color: #C3D6A6;
    width: 1200px;
    height: 800px;
    position:absolute;
    top: 45%;
    left:15%;
    border: 10px solid white;
    overflow: scroll;
}

#resume p{
    position:absolute;
    left:30%;
    text-align: center;
    color:white;
    font-size: 30px;
    font-family:"Poiret One";
}


@media only screen 
    and (max-device-width: 640px), 
    only screen and (max-device-width: 667px), 
    only screen and (max-width: 480px){ 
        body{
        background-color: blue;
    }
}

    

